*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(207, 207, 207);
}

.card{
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card_back, .card_front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.432);
    /*Todas as faces que estiverem invertidas, ele vai esconder, porém para ele funcionar, objeto deve ser do tipo 3D*/
    backface-visibility: hidden;
}
.flip{
    transform: rotateY(180deg);
}
.card_front{
    transform: rotateY(180deg);
    background-color: rgb(7, 7, 49);
}

.card_back{
    background-color: rgb(23, 23, 78);
    color: white;
    font-size: 30px;
}


#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
}
#restart{
    padding: 20px;
    font-size: 20px;
    background-color: rgb(39, 39, 92);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

#gameBoard{

    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    gap: 20px;

}